*.json
*.jpeg
*.png
*.jpg
*.svg
# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc
*.txt
!missing-images.txt


# Virtual environments
.stable-diff-gen
env/
venv/
ENV/
*.env
audio-output/*

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Local configuration files
*.env

# Node.js modules (if you're using npm or yarn)
node_modules/

# IDE / Editor directories
.vscode/
.idea/

# Mac specific
.DS_Store

# Windows specific
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/
